@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 370px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px;
  z-index: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  backface-visibility: hidden;
}

.tilted-item {
  transform: rotate(5deg);
}
.flip-card-front {
  color: white;

  /* filter: blur(1px); */
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.product-card1 {
  background-image: url("./assets/ecohero-loctroi-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-card2 {
  background-image: url("./assets/ecodryer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-card3 {
  background-image: url("./assets/ecoenergy-banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flip-card-front::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  opacity: 0.6;
  border-radius: 8px;
}

.flip-card-front h1,
.flip-card-front p {
  z-index: 2; /* Higher than .flip-card-front z-index */
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}
.footer-section {
  border-top: 1px solid #19690126;
}

.blog-card {
  overflow: hidden;
}

.blog-card:hover .blog-image {
  transition: 2s;
  transform: scale(1.1);
}

.blog-card:hover .straight-line-icon {
  transition: 3s;
  display: none !important;
}
.blog-card:hover .arrow-right-icon {
  transition: 3s;
  display: block !important;
}
.text-purple {
  color: #2e2e84;
}
.text-green {
  color: #388521;
}
.logo-image {
  border-radius: 50%;
}
.bg-green {
  background-color: #388521;
}
.bg-dark-purple {
  background-color: #0c0c4c;
}
.bg-purple-light {
  background-color: #1969011c;
}
.bg-purple {
  background-color: #2e2e85;
}
.footer-section {
  overflow: hidden;
}
.footer-section div ul a {
  font-size: 16px;
  color: #196901;
  font-weight: 500;
}
.footer-section div ul a:hover {
  transform: scale(1.1);
}

.main-hero-slide {
  position: relative;
  top: 0;
  width: 100%;
  color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-hero-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  opacity: 0.6;
}
.main-hero-slide h2 {
  z-index: 99;
}
.main-hero-slide p {
  z-index: 99;
}
.main-hero-slide a {
  z-index: 99;
  font-weight: 600;
  width: 150px;
}

.team-member-img {
  border: 5px solid #196901;
}
.team-main-div {
  border: 1px solid #196901;
}

.hero-banner1 {
  background-image: url("./assets/001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-banner2 {
  background-image: url("./002.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-banner3 {
  background-image: url("./assets/001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.news-blog-btn {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  transition: 0.5s;
}
.news-blog-btn:hover {
  background-color: #2e2e84;
}

/* .get-q-form-home {
  width: 90%;
} */

.contact-inputs {
  width: 100%;
  border-bottom: 1px solid #2e2e84;
  margin-bottom: 20px;
  outline: none;
  background: none !important;
  color: white;
}
.main-nav {
  background: none;
  backdrop-filter: none !important;
}
.link-div-head a {
  color: white;
}
.link-div-head-bg a {
  color: #4e9139;
  font-weight: 600;
}
.link-div-head-bg a:hover {
  color: #1e1e20;
}
.header-bg {
  z-index: 9099 !important;
 
}
header {
  width: 100%;
  background: none;
  backdrop-filter: none !important;
}

@media (max-width: 821px) {
  .news-main-div {
    flex-direction: column;
  }
  .news-text-div {
    width: 100% !important;
  }

  .news-slide-div {
    width: 100% !important;
  }
}

.image-section {
  position: relative;
  z-index: 1;
  background-image: url(/002.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

.image-section::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: 1;
}
header.z-40.flex.px-6.gap-4.w-full.flex-row.relative.flex-nowrap.items-center.justify-between.h-\[var\(--navbar-height\)\].max-w-\[1024px\] {
  width: 100% !important;
  max-width: 100%;
}

.data-\[justify\=start\]\:justify-start[data-justify="start"] {
  justify-content: flex-end;
}
ul.z-30.px-6.fixed.flex.max-w-full.top-\[var\(--navbar-height\)\].inset-x-0.bottom-0.w-screen.flex-col.gap-2.overflow-y-auto.backdrop-blur-xl.backdrop-saturate-150.pt-36.h-screen.bg-white {
  height: 100vh;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: start;
}

video {
  border-radius: 20px;
  background-color: none;
  background: none;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em; /* Adjust the font-size as needed */
  color: white; /* Set the color of the icon */
  z-index: 99; /* Ensure the icon is positioned above the React Player */
}

.play-icon {
  font-size: 5rem; /* Adjust the size of the play icon as needed */
  color: #388521; /* White color for the play icon */
}
.play-icon {
  z-index: 200;
}

.text-green-light {
  color: #196901;
}


.contact-social-div {
  background-color: #fff;
  color: #196901;
  border-radius: 12px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

}
.newsletter-input{
  outline: none !important;
  border: 1px solid #196901;
  width: 60%;
}
.newsletter-input::placeholder{
color: #0c0c4c;
}
ul.h-full.flex-nowrap.items-center.data-\[justify\=start\]\:justify-start.data-\[justify\=start\]\:flex-grow.data-\[justify\=start\]\:basis-0.data-\[justify\=center\]\:justify-center.data-\[justify\=end\]\:justify-end.data-\[justify\=end\]\:flex-grow.data-\[justify\=end\]\:basis-0.flex.flex-col.gap-5.justify-start.align-center {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

/* ul.h-full.flex-row.flex-nowrap.items-center.data-\[justify\=start\]\:justify-start.data-\[justify\=start\]\:flex-grow.data-\[justify\=start\]\:basis-0.data-\[justify\=center\]\:justify-center.data-\[justify\=end\]\:justify-end.data-\[justify\=end\]\:flex-grow.data-\[justify\=end\]\:basis-0.flex.gap-5.justify-end {
  flex-direction: column;
  align-items: flex-start;
} */