@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
 font-family: "Raleway", sans-serif;
}
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 370px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px;
  z-index: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  backface-visibility: hidden;
}

.tilted-item {
  transform: rotate(5deg);
}
.flip-card-front {
  color: white;

  /* filter: blur(1px); */
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.product-card1 {
  background-image: url("./assets/ecohero-loctroi-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  
}
.product-card2 {
  background-image: url("./assets/ecodryer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

}
.product-card3 {
  background-image: url("./assets/ecoenergy-banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

}

.flip-card-front::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  opacity: 0.6;
  border-radius: 8px;
}

.flip-card-front h1,
.flip-card-front p {
  z-index: 2; /* Higher than .flip-card-front z-index */
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}
/* .footer-section {
  border-top: 1px solid #19690126;
} */

.blog-card {
  overflow: hidden;
}

.blog-card:hover .blog-image {
  transition: 2s;
  transform: scale(1.1);
}

.blog-card:hover .straight-line-icon {
  transition: 3s;
  display: none !important;
}
.blog-card:hover .arrow-right-icon {
  transition: 3s;
  display: block !important;
}
.text-purple {
  color: #2e2e84;
}
.text-green {
  color: #388521;
}
.logo-image {
  border-radius: 50%;
}
.bg-green {
  background-color: #388521;
}
.bg-dark-purple {
  background-color: #0c0c4c;
}
.bg-purple-light {
  background-color: #1969011c;
}
.bg-purple {
  background-color: #2e2e85;
}
.footer-section {
  overflow: hidden;
}
.footer-section div ul a {
  font-size: 16px;
  color: #196901;
  font-weight: 500;
  transition: 0.3s;
}
.footer-section div ul a:hover {
  transform: scale(1.1);
}

.main-hero-slide {
  position: relative;
  top: 0;
  width: 100%;
  color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-hero-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  opacity: 0.6;
}
.main-hero-slide h2 {
  z-index: 99;
}
.main-hero-slide p {
  z-index: 99;
}
.main-hero-slide a {
  z-index: 99;
  font-weight: 600;
  width: 150px;
}

.team-member-img {
  border: 5px solid #196901;
}
.team-main-div {
  border: 1px solid #196901;
}

.hero-banner1 {
  background-image: url("./assets/001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-banner2 {
  background-image: url("./002.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-banner3 {
  background-image: url("./assets/001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.news-blog-btn {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  transition: 0.5s;
}
.news-blog-btn:hover {
  background-color: #2e2e84;
}
.news-blog-btn:hover .news-blog-card {
  border-color: #2e2e84; /* Correct property for changing the border color */
}

.news-blog-card {
  border: 1px solid #388521;
  transition: border-color 0.5s; /* Optional: Add transition for smooth border color change */
}
/* .get-q-form-home {
  width: 90%;
} */

.contact-inputs {
  width: 100%;
  border-bottom: 1px solid #2e2e84;
  margin-bottom: 20px;
  outline: none;
  background: none !important;
  color: black !important;

}
.main-nav {
  background: none;
  backdrop-filter: none !important;
}

.link-div-head a {
  color: white;
}
.link-div-head-bg a {
  color: #4e9139;
  font-weight: 600;
}
.link-div-head-bg a:hover {
  color: #1e1e20;
}
.header-bg {
  z-index: 9099 !important;
 
}
header {
  width: 100%;
  background: none;
  backdrop-filter: none !important;
}

@media (max-width: 821px) {
  .news-main-div {
    flex-direction: column;
  }
  .news-text-div {
    width: 100% !important;
  }

  .news-slide-div {
    width: 100% !important;
  }
}

.image-section {
  position: relative;
  z-index: 1;
  background-image: url(/002.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

.image-section::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: 1;
}


.data-\[justify\=start\]\:justify-start[data-justify="start"] {
  justify-content: flex-end;
}
/* ul.z-30.px-6.fixed.flex.max-w-full.top-\[var\(--navbar-height\)\].inset-x-0.bottom-0.w-screen.flex-col.gap-2.overflow-y-auto.backdrop-blur-xl.backdrop-saturate-150.pt-36.h-screen.bg-white {
  height: 100vh;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: start;
} */

video {
  border-radius: 20px;
  background-color: none;
  background: none;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em; /* Adjust the font-size as needed */
  color: white; /* Set the color of the icon */
  z-index: 1; /* Ensure the icon is positioned above the React Player */
}

.play-icon {
  font-size: 5rem; /* Adjust the size of the play icon as needed */
  color: #388521; /* White color for the play icon */
}
.play-icon {
  z-index: 1;
}

.text-green-light {
  color: #196901;
}

.contact-social-div {
  background-color: #fff;
  color: #196901;
  border-radius: 12px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.newsletter-input{
  outline: none !important;
  border: 1px solid #196901;
  width: 60%;
}

.newsletter-input::placeholder{
color: #0c0c4c;
}

/* ul.h-full.flex-nowrap.items-center.data-\[justify\=start\]\:justify-start.data-\[justify\=start\]\:flex-grow.data-\[justify\=start\]\:basis-0.data-\[justify\=center\]\:justify-center.data-\[justify\=end\]\:justify-end.data-\[justify\=end\]\:flex-grow.data-\[justify\=end\]\:basis-0.flex.flex-col.gap-5.justify-start.align-center {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
} */

/* ul.h-full.flex-row.flex-nowrap.items-center.data-\[justify\=start\]\:justify-start.data-\[justify\=start\]\:flex-grow.data-\[justify\=start\]\:basis-0.data-\[justify\=center\]\:justify-center.data-\[justify\=end\]\:justify-end.data-\[justify\=end\]\:flex-grow.data-\[justify\=end\]\:basis-0.flex.gap-5.justify-end {
  flex-direction: column;
  align-items: flex-start;
} */

.maindiv{
  overflow-x: hidden;
}

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.services_link{
  position: absolute;
  bottom: 20px;
}
.bark-logo{
  mix-blend-mode: multiply;
  transition: 0.3s;
}

.bark-logo:hover{
  transform: scale(1.2);
}
 .section_bg {
  background: url("data:image/svg+xml,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%201200%20120%22%20preserveAspectRatio%3D%22none%22%3E%3Cpath%20d%3D%22M985.66%2C92.83C906.67%2C72%2C823.78%2C31%2C743.84%2C14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84%2C11.73-114%2C31.07-172%2C41.86A600.21%2C600.21%2C0%2C0%2C1%2C0%2C27.35V120H1200V95.8C1132.19%2C118.92%2C1055.71%2C111.31%2C985.66%2C92.83Z%22%20fill%3D%22%2352c42f1f%22%20class%3D%22shape-fill%22%3E%3C/path%3E%3C/svg%3E");
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 


.fbutton {
  background-color: #52c42f1f;
  color: #000;
  width: 12em;
  height: 2.9em;
  border-radius: 11px;
  text-align: center;
  transition: all 0.6s ease;
}

.fbutton:hover {
  background-color: green;
  cursor: pointer;
  color: #fff;
}
.fbutton:hover svg{
  color: #fff;
}
.fbutton:hover .ftext{
  color: #fff;
}

.fbutton svg {
  width: 1.6em;
  margin: 0em 0.8em 0.9em -0.5em;
  position: absolute;
  display: flex;
 color: #7B8794;
  transition: all 0.1s ease;
}

.fbutton:hover svg {
  transform: translateX(5px);
}

.ftext {
  color: #7B8794;
  text-transform: none;
  
}
.main-nav header {
  width: 100% !important;
  max-width: 100%;
  align-items: center;
}
.main-nav header > ul:last-child {
  text-align: right !important;
  height: auto !important;
}
header.sticky nav header {
  max-width: 1536px;
}
.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-5 18:33:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


/* src/components/AdminDashboard.css */
.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: white;
  padding: 10px;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu-item:hover {
  background-color: #52c42f1f;
}

.menu-icon {
  margin-right: 10px;
}

.arrow-icon {
  margin-left: auto;
  transition: color 0.3s;
}

.menu-item:hover .arrow-icon {
  color: #2e2e84;
}

.menu-item:hover .menu-text {
  color: #2e2e84;
}

.menu-text {
  flex-grow: 1;
}

.sub-menu {
  padding-left: 20px;
  margin-bottom: 10px;
  transition: max-height 0.3s ease;
}

.sub-menu-item {
  padding: 5px 0;
  cursor: pointer;
}

.content {
  margin-left: 250px;
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
}
/* QuillEditor.css */

.ql-container {
  height: 150px; /* Adjust height as needed */
  overflow-y: auto;
}

.ql-editor {
  height: 250px; /* Adjust height as needed */
}
/* TinyMCEEditor.css */

.tox .tox-editor-container {
  height: 300px; /* Adjust height as needed */
  max-height: 100%; /* Ensure it doesn't overflow */
}

.tox .tox-editor-header {
  background: #f5f5f5; /* Customize header background */
}

.tox .tox-statusbar {
  background: #f5f5f5; /* Customize status bar background */
}

.tox .tox-toolbar__primary {
  background: #f5f5f5; /* Customize toolbar background */
}
