@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  font-family: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}
.bg-grey {
  background-color: #e8e2e4;
}
.bg-grey {
  background-color: #1969011c;
}
p {
  font-size: 16px;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 42px;
}
/* h3{
  font-size: 20px;
  color: #0c0c4c;
  font-weight: 600;
} */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
  /* ... */
}
