@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  font-family: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white !important;
}
.bg-grey {
  background-color: #52c42f1f;
}
.bg-green-light {
  background-color: #52c42f1f;
}
p {
  font-size: 16px;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 42px;
}
/* h3{
  font-size: 20px;
  color: #0c0c4c;
  font-weight: 600;
} */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
  /* ... */
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #52c42f 0, #388521 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(111 111 111 / 50%) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  width: 205px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 20px;
  margin-top: 100px 200px;
}
.button-29:focus {
  box-shadow: #229500e8 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #196901 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #388521 0 -3px 0 inset;
  transform: translateY(-2px);
  background-image: radial-gradient(100% 100% at 100% 0, #1c7900 0, #196901 100%);
  /* background: azure; */
}
.button-29:active {
  box-shadow: #388521 0 3px 7px inset;
  transform: translateY(2px);
}